:root {
    color-scheme: light dark;
}

$corBotaoLight: #828282;
$corBotaoDark: #585858;
$corBotaoHover: #888888;
$corBotaoApagar: #ee3333;
$corBotaoApagarHover: #ff5555;
$corBotaoSalvar: #00bfff;
$corBotaoSalvarHover: #99bbff;
$corFonteSecundaria: #ffffff;
$bodyDark: #222222;
$bodyLight: #eeeeee;
$formDivDark: #008b8b;
$formDivLight: #3fb0aa;
$formDark: #111111;
$formLight: #ffffff;
$formErrorDark: #FF0000FF;
$formErrorLight: #EE0000FF;
$sombra: #00000088;

$borderRadius: 1rem;
$padding: 1rem;
$paddingBotao: 0.7rem;
