:root {
    color-scheme: light dark;
}

$corFonteSecundaria: #FFFFFF;
$bodyDark: #222222;
$bodyLight: #EEEEEE;
$formDivDark: #008B8B;
$formDivLight: #3fbd93;
$formDark: #111111;
$formLight: #FFFFFF;
$sombra: #00000088;

$borderRadius: 1rem;
$padding: 1rem;
$paddingBotao: 0.7rem;
