:root {
    color-scheme: light dark;
}

$corFonteSecundaria: #ffffff;
$bodyDark: #222222;
$bodyLight: #eeeeee;
$formDivDark: #008b8b;
$formDivLight: #3fbd93;
$formDark: #111111;
$formLight: #ffffff;
$formErrorDark: #FF0000FF;
$formErrorLight: #EE0000FF;
$sombra: #00000088;

$borderRadius: 1rem;
$padding: 1rem;
$paddingBotao: 0.7rem;
