@charset "UTF-8";
@use "paleta";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//noinspection CssUnknownTarget
@font-face {
    font-family: 'Libre Baskerville';
    src: local('Libre Baskerville'),
    url('../../public/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}

//noinspection CssUnknownTarget
@font-face {
    font-family: 'Libre Baskerville Bold';
    src: local('Libre Baskerville Bold'),
    url('../../public/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
}

//noinspection CssInvalidFunction
body {
    align-items: center;
    background-color: light-dark(paleta.$bodyLight, paleta.$bodyDark);
    display: flex;
    justify-content: center;
    height: 100vh;
}

h2, legend {
    font-family: 'Libre Baskerville Bold', Arial, serif;
}

button,
label,
p,
small {
    font-family: 'Libre Baskerville', Arial, serif;
}
