@use "paleta";

body {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: paleta.$corBotaoSalvar;
    box-shadow: 0.5rem 0.3rem 0.1rem paleta.$sombra, 0.3rem 0.5rem 0.2rem paleta.$sombra;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-row: 1;
    height: 100%;
    width: 100vw;

    h1 {
        align-items: center;
        display: flex;
        grid-column: 2;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    div {
        align-items: center;
        align-self: center;
        display: flex;
        gap: 0.5rem;
        height: 100%;
    }

    button {
        align-self: center;
        //noinspection CssInvalidFunction
        background-color: light-dark(paleta.$corBotaoLight, paleta.$corBotaoDark);
        border: paleta.$corFonteSecundaria solid 0.1rem;
        border-radius: paleta.$borderRadius;
        grid-column: 3;
        height: 50%;
        justify-self: center;

        &:hover {
            background-color: paleta.$corBotaoHover;
        }

        a {
            color: paleta.$corFonteSecundaria;
            display: inline-flex;
            height: 100%;
            padding: 0.7rem;
            text-decoration: none;
            width: 100%;
        }

    }

}

main {
    display: grid;
    grid-row: 2;
    height: 100%;
    width: 100vw;

    button {
        background-color: paleta.$corBotaoSalvar;
        border-radius: paleta.$borderRadius;
        width: 50%;

        &:hover {
            background-color: paleta.$corBotaoSalvarHover;
        }

        a {
            color: paleta.$corFonteSecundaria;
            display: block;
            height: 100%;
            text-decoration: none;
            width: 100%;
        }
    }

    div#livros {
        align-self: center;
        height: 85%;
        justify-self: center;
        width: 80%;

        div#tab-switcher {
            //noinspection CssInvalidFunction
            background-color: light-dark(paleta.$corBotaoLight, paleta.$corBotaoDark);
            border-radius: paleta.$borderRadius paleta.$borderRadius 0 0;
            box-shadow: 0.5rem 0.3rem 0.1rem paleta.$sombra, 0.3rem 0.5rem 0.2rem paleta.$sombra;
            display: flex;
            flex-direction: row;
            height: 10%;
            overflow-x: scroll;
            width: 60%;

            button {
                align-items: center;
                background-color: transparent;
                border-radius: 0;
                cursor: pointer;
                display: inline-flex;
                justify-content: center;
                padding: 0.5rem;
                white-space: nowrap;
                width: fit-content;

                &:hover {
                    background-color: paleta.$corBotaoHover;
                }

                &.selected {
                    //noinspection CssInvalidFunction
                    background-color: light-dark(paleta.$formLight, paleta.$formDark);
                    cursor: auto;
                }

            }

        }

        div#data {
            align-items: center;
            //noinspection CssInvalidFunction
            background-color: light-dark(paleta.$formLight, paleta.$formDark);
            border-radius: 0 paleta.$borderRadius paleta.$borderRadius paleta.$borderRadius;
            box-shadow: 0.5rem 0.3rem 0.1rem paleta.$sombra, 0.3rem 0.5rem 0.2rem paleta.$sombra;
            display: flex;
            flex-direction: column;
            height: 90%;
            padding: paleta.$padding;
            width: 100%;

            table {
                border-spacing: 0;
                width: 100%;

                button {
                    background: none;
                }

                div {
                    height: 15rem;
                    overflow-y: scroll;
                }

                table {
                    width: 100%;

                    td {
                        padding: 0.5rem 0;
                    }

                }

                tr.wrapper > * {
                    border-left: 0;
                    border-right: 0;

                    tr {
                        width: 100%;
                    }

                }

                th, td {
                    border: solid 0.1rem;
                    border-collapse: collapse;
                }

                svg {
                    color: paleta.$corBotaoSalvar;
                }

                svg:hover {
                    color: paleta.$corBotaoSalvarHover;
                }

            }

        }

    }

    div#controls {
        bottom: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: paleta.$padding;
        position: absolute;
        width: 100%;

        button {
            align-items: center;
            aspect-ratio: 1 / 1;
            box-shadow: 0.5rem 0.3rem 0.1rem paleta.$sombra, 0.3rem 0.5rem 0.2rem paleta.$sombra;
            width: 5%;

            a {
                align-items: center;
                display: inline-flex;
                height: 100%;
                justify-content: center;
                width: 100%;
            }

        }

    }

}
