@use "paleta";

main {
    display: flex;
    flex-direction: column;
    gap: paleta.$padding;

    button {
        background-color: paleta.$corBotaoSalvar;
        border-radius: paleta.$borderRadius;

        &:hover {
            background-color: paleta.$corBotaoSalvarHover;
        }

        a {
            color: paleta.$corFonteSecundaria;
            display: block;
            height: 100%;
            text-decoration: none;
            width: 100%;
        }
    }

}
